GPUs=0
TIMEZONE=America/Los_Angeles
TORCH_CUDA_ARCH_LIST=8.9+PTX
DATA_DIR=/home/songlin/workspace/projects/SIMPLE/data
# docker proxy (used for building docker image)
PROXY=http://192.168.0.69:7890
DISPLAY=":0"
DATE=251025
MUJOCO_GL=egl